[Unit]
Description=Jitsi Videobridge
Requires=network.target prosody.service

[Service]
Type=forking
EnvironmentFile=/etc/opt/local/jitsi-videobridge/env.conf
ExecStart=/opt/local/bin/jitsi-videobridge.sh


[Install]
WantedBy=multi-user.target
